
// header-main styles
.headerMain {
    background-image: url(../../assets/image-1.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 1px;
}

.containerFlex {
    display: flex;
}

.headerMain__top {
    margin-top: 25px;
}

.headerMain__text {
    flex: 1 0 30%;
}

// header_nav styles
.headerMain__nav {
    flex: 0 0 50%;
}

.headerNav__container {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}
.headerNav__listItem{
    font-size: 1.5rem;
    list-style: none;
}

.navItem {
    font-family: 'Catamaran', sans-serif;
    color: $primaryFontColor;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}




