
// header-main styles
.header-main {
    background-image: url(../../assets/image-1.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 1px;
}

.container--flex {
    display: flex;
}

.header-main__top {
    margin-top: 25px;
}

.header-main__text {
    flex: 1 0 30%;
}

// header_nav styles
.header__nav {
    flex: 0 0 50%;
}

.header__nav--container {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}
.header__nav-list-item {
    font-size: 1.5rem;
    list-style: none;
}

.nav-item {
    font-family: 'Catamaran', sans-serif;
    color: $primaryFontColor;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}




