

// Welcome Section Styles SECTION ONE
.welcomeSection {
    @include padding-top-bottom(); 
}

.welcomeSection__paragraph {
    max-width: 57%;
    margin: 20px auto;
}

// Services Section Styles SECTION TWO
.servicesSection {
    @include padding-top-bottom();
    background: #bec884;
    width: 100%;
}

.servicesSection__container {
    // large break point
    @include breakPoint(large) {
        flex-direction: column;
    }
}
.servicesSection__cell  {
    width: 33%;
    padding: 30px 55px;
    display: inline-block;
        // large break point
        @include breakPoint(large) {
            padding: 0;
            margin: 25px auto;
            width: 80%;
        }
    }

.servicesSection__icon {
    font-size: 3rem;
    margin-bottom: 10px;
}

// Testimonials Section Styles SECTION THREE
.testimonialsSection {
    @include padding-top-bottom();
    &__heading {
         margin: 10px 0px 10px 20px;
    }
}


.testimonialsSection__cell__container {
    // large break point
    @include breakPoint(large) {
        width: 60%;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }
    // medium break point
    @include breakPoint(medium) {
        width: 80%;
    }
    // small break point
    @include breakPoint(small) {
        width: 100%;
    }
}

.testimonialsSection__text {
    flex-direction: column;
    justify-content: center;
}

.testimonialsSection__paragraph {
    max-width: 70%;
    margin: 10px 0px 10px 20px;
    // large break point
    @include breakPoint(large) {
        max-width: 100%;
    }
}

// Gallery Section Styles SECTION FOUR

.gallery__container {
    width: 25%;
    position: relative;
    // medium break point
    @include breakPoint(medium) {
        display: none;
    }
}

.gallery__image {
    height: 100%;
    // large break point
    @include breakPoint(large) {
        height: 80%;
    }
}

.gallery__container:hover .gallery__cell {
    opacity: 1;
}

// Shared Style w/ Latest News Gallery
.gallery__cell {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all .5s;
        // large break point
        @include breakPoint(large) {
            position: static;
            background-color:transparent;              
            opacity: 1;
        }
}

.gallery__cell__text {
    color: $whiteFontColor;
    // large break point
    @include breakPoint(large) {
        color: $primaryFontColor;
    }
}

// Happy Clients Section Styles SECTION FIVE
.clientsSection {
    @include padding-top-bottom();
    background: #efefef;
        &__imageContainer {
            justify-content: center;
        }
        &__image {
            width: 11%;
            margin: 15px;
            // medium break point
            @include breakPoint(medium) {
                width: 20%;
            }
            // small break point
            @include breakPoint(small) {
                width: 30%;
            }
        }
        &__icon {
            font-size: 3rem;
            color: #cacecf;
            margin-top: 60px;
        }
}

// Latest News Section Styles
.newsSection {
    @include padding-top-bottom();
    background: #f5f3f3;
        &__container {
            // large break point
            @include breakPoint(large) {
                flex-direction: column;
                margin: 0 auto;
             }
        } 
        &__image {
            height: 80%;
        }
        &__cell {
             width: 33%;
            margin: 0 10px;
            text-align: left;
            // large break point
            @include breakPoint(large) {
                width: 65%;
                margin: 25px auto;
                text-align: center;
            }
            // medium break point
            @include breakPoint(medium) {
                width: 80%;
            }
            // small break point
            @include breakPoint(small) {
                width: 90%;
            }
        }
        &__text {
            @include headingText(1.3rem, $primaryFontColor);
            font-weight: 700;
        }
        &__link {
            display: block;
            text-decoration: none;
            font-weight: 700;
            text-transform: uppercase;
            padding: 5px 0;
            letter-spacing: .5px;
        }
    }

// Ask A Question Section Styles
.questionSection {
    @include padding-top-bottom();
    background: #f2b094;
}

.questionForm {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.formQuestion {
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    align-self: stretch;
    padding: 10px 0;
    border: none;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background: none;
    margin-bottom: 30px;
}

// Latest Shoots Section Styles
.latestShoots {
    @include padding-top-bottom();
    background: #efefef;
        &__nav {
        background: #606060;
        margin: 15px;
        flex-basis: calc(33% - 30px);
        // large break point
        @include breakPoint(large) {
            margin: 0;
            flex-basis: 100%;
        }
        &__container {
            padding: 0px;
            flex-direction: column;
            flex-basis: 100%;
            // large break point
            @include breakPoint(large) {
                flex-direction: row;
            }
        }
    }
    &__row {
        // small break point
        @include breakPoint(small) {
        flex-direction: column;
        }
    }
    &__galleryContainer {
        position: relative;
        margin: 15px;
        width: calc(50%% - 30px);
            &:hover .gallery__cell {
                opacity: 1;
        }
    }
}
.containerFlex--latestShoots {
    // large break point
    @include breakPoint(large) {
        flex-direction: column;
    }
}

.listItem--latestShoots {
    @include headingText(2.8rem, $whiteFontColor);
    width: 100%;
    display: block;
    margin: 30px 0;
    list-style: none;
    font-weight: 700;
    text-align: center;
    transition: all .5s;
    // large break point
    @include breakPoint(large) {
        @include headingText(1.3rem, $whiteFontColor);
    }
    // medium break point
    @include breakPoint(medium) {
        @include headingText(1rem, $whiteFontColor);
    }
        &:hover {
            background: #2a2a2a;
            // large break point
            @include breakPoint(large) {
                background: transparent;
        }
    }
}



