

// Services Section Styles
.SECTION-TWO {
    background: #bec884;
}

// Happy Clients Section Styles
.SECTION-FIVE {
    background: #efefef;
}

// Latest News Section Styles
.SECTION-SIX {
    background: #f5f3f3;
}

// Ask A Question Section Styles
.SECTION-SEVEN {
    background: #f2b094;
}

// Latest Shoots Section Styles
.SECTION-EIGHT {
    background: #efefef;
}
