.heading-one {
    @include headingText($h1FontSize) 
}

.heading-two {
    @include headingText($h2FontSize)
}

.heading-three {
    @include headingText($h3FontSize)
}

.paragraph {
    @include paragraph(1.2rem)
}

.main-section__paragraph {
    line-height: 25px;
    font-size: 1.5rem;
}

.text-blue {
    color: $accentFontColor;
}

.btn {
    @include headingText(1.2rem); 
    font-weight: 700;
    border: 1px solid $primaryFontColor;
    background: none;
    padding: 12px 15px;
    // border-radius: 40%;
}


