.headingOne {
    @include headingText($h1FontSize, $primaryFontColor) 
}

.headingTwo {
    @include headingText($h2FontSize, $primaryFontColor)
}

.headingThree {
    @include headingText($h3FontSize, $primaryFontColor);
}

.paragraph {
    @include paragraph(1.2rem)
}

.main-section__paragraph {
    line-height: 25px;
    font-size: 1.5rem;
}

.textBlue {
    color: $accentFontColor;
}

.textCenter {
    text-align: center;
}

.listItem {
    list-style-type: none;
    display: block;
}

.btn {
    @include headingText(1.2rem, $primaryFontColor); 
    font-weight: 700;
    width: 120px;
    border: 1px solid $primaryFontColor;
    background: none;
    padding: 8px 32px;
    border-radius: 100px;
    transition: all .3s linear;
        &:hover {
            background: $primaryFontColor;
            color: white;
        }
}


