article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  list-style: none; }

.container {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto; }

.containerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.image {
  width: 100%;
  display: block; }

.headingOne {
  font-size: 5rem;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin: 0;
  color: #2a2a2a; }

.headingTwo {
  font-size: 2.3rem;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin: 0;
  color: #2a2a2a; }

.heading--margin {
  padding: 15px 0; }

.headingThree {
  font-size: 2rem;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin: 0;
  color: #2a2a2a; }

.paragraph {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  color: #2a2a2a;
  margin: 0;
  line-height: 17px; }

.paragraph--italic {
  margin: 10px 0; }

.main-section__paragraph {
  line-height: 25px;
  font-size: 1.5rem; }

.textBlue {
  color: #285d64; }

.textCenter {
  text-align: center; }

.listItem {
  list-style-type: none;
  display: block; }

.btn {
  font-size: 1.2rem;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin: 0;
  color: #2a2a2a;
  font-weight: 700;
  width: 120px;
  border: 1px solid #2a2a2a;
  background: none;
  padding: 8px 32px;
  border-radius: 100px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }
  .btn:hover {
    background: #2a2a2a;
    color: white; }

.btn--long {
  width: 170px; }

@media (max-width: 940px) {
  .btn--start {
    display: none; } }

@media (max-width: 768px) {
  .btn--start {
    display: none; } }

@media (max-width: 480px) {
  .btn--start {
    display: none; } }

.headerMain {
  background-image: url(../assets/image-1.jpeg);
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  height: 100vh;
  padding: 1px; }
  @media (max-width: 940px) {
    .headerMain {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.5)), to(rgba(250, 250, 250, 0.5))), url(../assets/image-1.jpeg);
      background: -webkit-linear-gradient(top, rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.5)), url(../assets/image-1.jpeg);
      background: -o-linear-gradient(top, rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.5)), url(../assets/image-1.jpeg);
      background: linear-gradient(to bottom, rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.5)), url(../assets/image-1.jpeg);
      background-size: cover; } }

.headerMain__container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }

.headerMain__heading {
  margin-top: 8px; }

.headerMain__nav {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 25px; }

@media (max-width: 768px) {
  .nav__container {
    display: none; } }

.nav__listItem {
  font-size: 1.5rem;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin: 0;
  color: #2a2a2a;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  padding: 0 10px; }

.navItem {
  font-family: 'Catamaran', sans-serif;
  color: #2a2a2a;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600; }

.navMobile {
  display: none;
  width: 100%;
  padding: 1px; }
  @media (max-width: 768px) {
    .navMobile {
      display: block; } }
  .navMobile__bars {
    position: absolute;
    color: #2a2a2a;
    font-size: 3rem;
    top: 32px;
    right: 10px; }
  .navMobile__exit {
    color: #ffffff;
    font-size: 5rem;
    text-align: center; }
  .navMobile__menu {
    display: none;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    text-align-last: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    padding: 100px;
    margin: 0; }
  .navMobile__listItem {
    list-style: none; }

.navMobileItem {
  font-size: 5rem;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin: 0;
  color: #ffffff;
  list-style: none;
  text-decoration: none; }

.show {
  display: block;
  width: 100%; }

.navItem {
  font-family: 'Catamaran', sans-serif;
  color: #2a2a2a;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600; }

.headerMain__welcome {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 300px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.headerMain__paragraph {
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 25px; }

.welcomeSection {
  padding: 80px 0; }

.welcomeSection__paragraph {
  max-width: 57%;
  margin: 20px auto; }

.servicesSection {
  padding: 80px 0;
  background: #bec884;
  width: 100%; }

@media (max-width: 940px) {
  .servicesSection__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.servicesSection__cell {
  width: 33%;
  padding: 30px 55px;
  display: inline-block; }
  @media (max-width: 940px) {
    .servicesSection__cell {
      padding: 0;
      margin: 25px auto;
      width: 80%; } }

.servicesSection__icon {
  font-size: 3rem;
  margin-bottom: 10px; }

.testimonialsSection {
  padding: 80px 0; }
  .testimonialsSection__heading {
    margin: 10px 0px 10px 20px; }

@media (max-width: 940px) {
  .testimonialsSection__cell__container {
    width: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin: 0 auto; } }

@media (max-width: 768px) {
  .testimonialsSection__cell__container {
    width: 80%; } }

@media (max-width: 480px) {
  .testimonialsSection__cell__container {
    width: 100%; } }

.testimonialsSection__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.testimonialsSection__paragraph {
  max-width: 70%;
  margin: 10px 0px 10px 20px; }
  @media (max-width: 940px) {
    .testimonialsSection__paragraph {
      max-width: 100%; } }

.gallery__container {
  width: 25%;
  position: relative; }
  @media (max-width: 768px) {
    .gallery__container {
      display: none; } }

.gallery__image {
  height: 100%; }
  @media (max-width: 940px) {
    .gallery__image {
      height: 80%; } }

.gallery__container:hover .gallery__cell {
  opacity: 1; }

.gallery__cell {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  @media (max-width: 940px) {
    .gallery__cell {
      position: static;
      background-color: transparent;
      opacity: 1; } }

.gallery__cell__text {
  color: #ffffff; }
  @media (max-width: 940px) {
    .gallery__cell__text {
      color: #2a2a2a; } }

.clientsSection {
  padding: 80px 0;
  background: #efefef; }
  .clientsSection__imageContainer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .clientsSection__image {
    width: 11%;
    margin: 15px; }
    @media (max-width: 768px) {
      .clientsSection__image {
        width: 20%; } }
    @media (max-width: 480px) {
      .clientsSection__image {
        width: 30%; } }
  .clientsSection__icon {
    font-size: 3rem;
    color: #cacecf;
    margin-top: 60px; }

.newsSection {
  padding: 80px 0;
  background: #f5f3f3; }
  @media (max-width: 940px) {
    .newsSection__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 auto; } }
  .newsSection__image {
    height: 80%; }
  .newsSection__cell {
    width: 33%;
    margin: 0 10px;
    text-align: left; }
    @media (max-width: 940px) {
      .newsSection__cell {
        width: 65%;
        margin: 25px auto;
        text-align: center; } }
    @media (max-width: 768px) {
      .newsSection__cell {
        width: 80%; } }
    @media (max-width: 480px) {
      .newsSection__cell {
        width: 90%; } }
  .newsSection__text {
    font-size: 1.3rem;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin: 0;
    color: #2a2a2a;
    font-weight: 700; }
  .newsSection__link {
    display: block;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 0;
    letter-spacing: .5px; }

.questionSection {
  padding: 80px 0;
  background: #f2b094; }

.questionForm {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px; }

.formQuestion {
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  padding: 10px 0;
  border: none;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background: none;
  margin-bottom: 30px; }

.latestShoots {
  padding: 80px 0;
  background: #efefef; }
  .latestShoots__nav {
    background: #606060;
    margin: 15px;
    -ms-flex-preferred-size: calc(33% - 30px);
    flex-basis: calc(33% - 30px); }
    @media (max-width: 940px) {
      .latestShoots__nav {
        margin: 0;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    .latestShoots__nav__container {
      padding: 0px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
      @media (max-width: 940px) {
        .latestShoots__nav__container {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row; } }
  .latestShoots__galleryContainer {
    position: relative;
    margin: 15px;
    width: calc(50%% - 30px); }
    .latestShoots__galleryContainer:hover .gallery__cell {
      opacity: 1; }

@media (max-width: 940px) {
  .containerFlex--latestShoots {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.listItem--latestShoots {
  font-size: 2.8rem;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin: 0;
  color: #ffffff;
  width: 100%;
  display: block;
  margin: 30px 0;
  list-style: none;
  font-weight: 700;
  text-align: center;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  @media (max-width: 940px) {
    .listItem--latestShoots {
      font-size: 1.3rem;
      font-family: 'Catamaran', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      margin: 0;
      color: #ffffff; } }
  @media (max-width: 768px) {
    .listItem--latestShoots {
      font-size: 1rem;
      font-family: 'Catamaran', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      margin: 0;
      color: #ffffff; } }
  .listItem--latestShoots:hover {
    background: #2a2a2a; }
    @media (max-width: 940px) {
      .listItem--latestShoots:hover {
        background: transparent; } }

.footerMain {
  padding-top: 50px;
  position: relative; }
  @media (max-width: 768px) {
    .footerMain__cell__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .footerMain__container {
    width: 33%; }
    @media (max-width: 768px) {
      .footerMain__container {
        width: 80%;
        margin: 0 auto;
        text-align: center; } }
  .footerMain__list {
    margin: 0;
    padding: 0; }
  .footerMain__listItem {
    margin: 10px 0;
    display: block; }
  .footerMain__paragraph {
    padding-left: 30px; }
    @media (max-width: 768px) {
      .footerMain__paragraph {
        padding: 0; } }
  .footerMain__container__cell--icon {
    position: relative;
    font-size: 1.7rem;
    top: 15px; }
    @media (max-width: 768px) {
      .footerMain__container__cell--icon {
        top: -5px; } }
  .footerMain__form {
    position: relative; }
  .footerMain__emailInput {
    width: 60%;
    border: 1px solid #2a2a2a;
    padding: 3px 0; }
  .footerMain__button {
    position: absolute;
    right: 150px;
    top: 7px;
    border: none;
    background: transparent; }
    @media (max-width: 940px) {
      .footerMain__button {
        right: 100px; } }
    @media (max-width: 480px) {
      .footerMain__button {
        right: 60px; } }
  .footerMain__aboutUs__paragraph {
    max-width: 55%; }
    @media (max-width: 768px) {
      .footerMain__aboutUs__paragraph {
        max-width: 100%; } }
  .footerMain__instagram {
    width: calc(20% - 10px);
    margin: 5px; }
    @media (max-width: 940px) {
      .footerMain__instagram {
        width: calc(60% - 10px); } }
    @media (max-width: 768px) {
      .footerMain__instagram {
        width: calc(30% - 10px); } }
  .footerMain__socialIcons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 2rem;
    padding-right: 25px;
    position: fixed;
    right: 0;
    top: 60%; }
  .footerMain__socialIcons__icon {
    padding: 10px 0;
    color: #848484; }

.footerNav {
  padding: 30px 0 20px 0;
  width: 100%; }
  .footerNav__container {
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.navItem {
  font-size: 1.5rem;
  display: block; }

.footerEnd {
  background: #2a2a2a; }
  .footerEnd__paragraph {
    color: white;
    text-transform: uppercase; }
