@import "partials/setup";
@import "partials/utils";
@import "partials/typography";
@import "partials/header";
@import "partials/main";
@import "partials/footer";

// Global Styles

html {
    font-size: 62.5%;
    list-style: none;
}

.container {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}
